@import 'reset.css';

/* Import GRID */
@import 'grid.less';
@columns: 12;
@column-width: 60;
@gutter-width: 20;
@total-width: 100%;

/* Font */
@font-face {
  font-family: 'QuicksandLight';
  src: url('./font/Quicksand_Light-webfont.eot');
  src: url('./font/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('./font/Quicksand_Light-webfont.woff') format('woff'),
  url('./font/Quicksand_Light-webfont.ttf') format('truetype'),
  url('./font/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandBook';
  src: url('./font/Quicksand_Book-webfont.eot');
  src: url('Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
  url('./font/Quicksand_Book-webfont.woff') format('woff'),
  url('./font/Quicksand_Book-webfont.ttf') format('truetype'),
  url('./font/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QuicksandBold';
  src: url('./font/Quicksand_Bold-webfont.eot');
  src: url('./font/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('./font/Quicksand_Bold-webfont.woff') format('woff'),
  url('./font/Quicksand_Bold-webfont.ttf') format('truetype'),
  url('./font/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@QuicksandBook: 'QuicksandBook', Arial, sans-serif;
@QuicksandBold: 'QuicksandBold', Arial, sans-serif;
@QuicksandLight: 'QuicksandLight', Arial, sans-serif;
@fontSize: 16px;

/* Design effects */
@deepGreen: #AFC065;
@lightGreen: #E4F277;
@beige: #FFFCCF;
@lightBrown: #E0E0AC;
@deepBrown: #47290A;

@linearG: linear-gradient(bottom, rgb(224,224,172) 1%, rgb(246,244,197) 51%, rgb(255,252,207) 76%);
@oLinearG: -o-linear-gradient(bottom, rgb(224,224,172) 1%, rgb(246,244,197) 51%, rgb(255,252,207) 76%);
@mozLinearG: -moz-linear-gradient(bottom, rgb(224,224,172) 1%, rgb(246,244,197) 51%, rgb(255,252,207) 76%);
@webLinearG: -webkit-linear-gradient(bottom, rgb(224,224,172) 1%, rgb(246,244,197) 51%, rgb(255,252,207) 76%);
@msLinearG: -ms-linear-gradient(bottom, rgb(224,224,172) 1%, rgb(246,244,197) 51%, rgb(255,252,207) 76%);
@webkitG: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.01, rgb(224,224,172)),
color-stop(0.51, rgb(246,244,197)),
color-stop(0.76, rgb(255,252,207))
);

@gardient: #afc065; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
@gardientUrl: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FmYzA2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNGYyNzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
@mozGardientL: -moz-linear-gradient(top,  #afc065 0%, #e4f277 100%); /* FF3.6+ */
@webGardient: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afc065), color-stop(100%,#e4f277)); /* Chrome,Safari4+ */
@webGardientL: -webkit-linear-gradient(top,  #afc065 0%,#e4f277 100%); /* Chrome10+,Safari5.1+ */
@oGardientL: -o-linear-gradient(top,  #afc065 0%,#e4f277 100%); /* Opera 11.10+ */
@msGardientL: -ms-linear-gradient(top,  #afc065 0%,#e4f277 100%); /* IE10+ */
@lGardient: linear-gradient(to bottom,  #afc065 0%,#e4f277 100%); /* W3C */
@filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afc065', endColorstr='#e4f277',GradientType=0 ); /* IE6-8 */

@gardientA: #e4f277; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
@gardientUrlA: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZjI3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZmMwNjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
@mozGardientA: -moz-linear-gradient(top,  #e4f277 0%, #afc065 100%); /* FF3.6+ */
@webGardientA: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f277), color-stop(100%,#afc065)); /* Chrome,Safari4+ */
@webLGardientA: -webkit-linear-gradient(top,  #e4f277 0%,#afc065 100%); /* Chrome10+,Safari5.1+ */
@oGardientA: -o-linear-gradient(top,  #e4f277 0%,#afc065 100%); /* Opera 11.10+ */
@msGardientA: -ms-linear-gradient(top,  #e4f277 0%,#afc065 100%); /* IE10+ */
@lGardientA: linear-gradient(to bottom,  #e4f277 0%,#afc065 100%); /* W3C */
@filterA: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f277', endColorstr='#afc065',GradientType=0 ); /* IE6-8 */

@mozShadow: 1px 1px 10px 0px #656565;
@webShadow: 1px 1px 10px 0px #656565;
@oBoxShadow: 1px 1px 10px 0px #656565;
@boxShadow: 1px 1px 10px 0px #656565;

/********************************
      DESIGN
 *******************************/

.clearfix() {
  zoom: 1;
  &:before { content: ''; display: block; }
  &:after { content: ''; display: table; clear: both; }
}

body{
  background-color: @deepGreen;
  font-family: @QuicksandBook;
  font-size: @fontSize;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.content{
  background-color: white;
  margin: 0 auto;
  .column(12);
  position: relative;
  .clearfix;
  z-index: 1;
}

h2, article h2 a{
  color: @deepBrown;
  font-family: @QuicksandBold;
}

article h2{
  height: 25px;
}

p{
  color: @deepGreen;
  font-family: @QuicksandBook;
}

a{
  text-decoration: none;
  font-family: @QuicksandBook;
}

                                /* Header */
header#top{
  width: 100%
}
/* Logo */
.logo{
  width: 510px;
  margin: 0 auto;
}


/* Nav */
nav{
  background-image: @linearG;
  background-image: @oLinearG;
  background-image: @mozLinearG;
  background-image: @webLinearG;
  background-image: @msLinearG;
  background-image: @webkitG;
  height: 40px;
  -moz-box-shadow: @mozShadow;
  -webkit-box-shadow: @webShadow;
  -o-box-shadow: @oBoxShadow;
  box-shadow: @boxShadow;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#dde2d3, Direction=180, Strength=5);
  z-index: 2;
}

.submenu{
  display: none;
  z-index:3;
}

.submenu a{
  border-left: none;
}

.submenu li a:hover{
  background-image: none;
}
nav a:hover{
  font-family: @QuicksandBold;
  text-decoration: none;
  background-image: linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
  background-image: -o-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
  background-image: -moz-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
  background-image: -ms-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(255,252,207)),
    color-stop(0.78, rgb(224,224,172))
  );
}

nav li:hover{
  height: 40px;
  margin: 0 0;
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
}

nav li:hover li{
  float: none;
  margin: 0.5em 0;
}

nav>ul li{
  float: left;
  height: 1.25em;
}

nav>ul a, nav>ul p{
  color: @deepBrown;
  display: block;
  padding: 0.75em 0.70em 0.70em 0.85em;
  border-left: 1px solid @deepGreen;
}

nav li ul, .loginBox{
  background-image: @linearG;
  background-image: @oLinearG;
  background-image: @mozLinearG;
  background-image: @webLinearG;
  background-image: @msLinearG;
  background-image: @webkitG;
  padding: 0 0.5em 0.5em 0.5em;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.loginBox{
  margin: -0.1em;
}

.loginBox label{
  display: block;
  font-family: @QuicksandBold;
  color: @deepBrown;
  margin-top: 0.5em;
}

.loginBox input{
  width: 200px;
  display: block;
  margin-bottom: 1em;
}

.loginBox input[type="checkbox"]{
  width: 15px;
  display: inline;
  float: left;
}

.loginBox a:hover{
  padding: none;
}


.inscription{
  display: none;
}

.lastItem a:hover, .lastItem a, .lastItem a:active, .lastItem a:focus{
  padding-right: 1.1em;
}

.userLogin .lastItem a:hover, .userLogin .lastItem a:active, .userLogin .lastItem a:focus, .userLogin .lastItem a{
  padding-right: 1em;
}

.makeup .lastItem a:hover, .makeup .lastItem a:active, .makeup .lastItem a:focus, .makeup .lastItem a,
.finalisation .espaceMembre a:hover, .finalisation .espaceMembre a:active, .finalisation .espaceMembre a:focus, .finalisation .espaceMembre a,
#categorie .lastItem a:hover, #categorie .lastItem a:active, #categorie .lastItem a:focus, #categorie .lastItem a{
  padding-right: 0.5em;
}

.connexionBoutton a:hover, .connexionBoutton a, .connexionBoutton a:active, .connexionBoutton a:focus{
  padding-right: 4.2em;
}
              /* Content Header */

/* Slider */
.slider {
  height: 300px;
  margin-top: 1em;
}

.slider figure {
  .column(10);
  .push(1);
  .pull(1);
  margin-right: 0;
  position: relative;
}

.moreInfo{
  width: 250px;
  position: absolute;
  top: 175px;
  left: 25px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.6);
}
.moreInfo p{
  color: @deepBrown;
  font-family: @QuicksandLight;
}

.slider a{
  height: 300px;
  display: inline-block;
  float: left;
}

            /* Section */

.breadcrumbs a{
  color: @deepGreen;
}

.breadcrumbs p{
  display: inline-block;
  color: @deepBrown;
  font-size: 0.75em;
}

.breadcrumbs a:hover, .page a:hover{
  color: @deepBrown
}

section{
  .column(8);
  .push(1);
  margin-top: 2em;
}

.slider .bannerImg{
  .column(10);
  .push(1);
  .pull(1);
  height: 116px;
}

/* Annonces */
.annonces p{
  color: @deepBrown;
  .column(4);
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 14px;
}

hr {
  display: block;
  clear: both;
  height: 0;
  padding: 0;
  border: 0;
}
hr:after {
  content: url("../img/design/bandeau.jpg");
  height: 0;
}

section hr:after{
  content: url("../img/design/bandeauSection.jpg");
  height: 0;
}

section hr{
  margin-bottom: 2em;
}

/* Promo, nouveauté, coup de coeur */
article{
  height: 450px;
}

article:last-child{
  border-bottom: none;
  margin-bottom: 0;
}

article p:hover a, .panier, .prix a{
  color: @deepBrown;
}

.description{
  height: 50px;
}

.panier, .panier:active, .panier:focus{
  background: @gardient;
  background: @gardientUrl;
  background: @mozGardientL;
  background: @webGardient;
  background: @webGardientL;
  background: @oGardientL;
  background: @msGardientL;
  background: @lGardient;
  filter: @filter;
  padding: 0.5em;
  -moz-box-shadow: @mozShadow;
  -webkit-box-shadow: @webShadow;
  -o-box-shadow: @oBoxShadow;
  box-shadow: @boxShadow;
}

.panier:hover{
  background: @gardientA;
  background: @gardientUrlA;
  background: @mozGardientA;
  background: @webGardientA;
  background: @webLGardientA;
  background: @oGardientA;
  background: @msGardientA;
  background: @lGardientA;
  filter: @filterA;
}

.panier:hover, .prix a:hover{
  font-family: @QuicksandBold;
}

.prix{
  .column(4);
  margin-top: 0.5em;
}

.panier{
  .column(6);
}

.plus{
  .column(5.5);
  .push(7.5);
  margin-top: 1em;
}

article p a{
  color: @deepGreen;
}

article h2, article p{
  padding: 0.5em 0;
}
.nouveaute li, .coeur li, .promos li, .listingProduit li, .similaire li{
  .column(4);
}

.nouveaute h1 a, .coeur h1 a, .promos h1 a, h1, .similaire h1 a{
  font-family: @QuicksandBook;
  font-size: 1.5em;
  color: @deepBrown;
  margin: 0 auto;
  text-align:center;
  margin-bottom: 1em;
  display: block;
}

.nouveaute li>a, .coeur li>a, .promos li>a{
  height: 200px;
  display: inline-block;
}
                        /* Aside */

aside{
  position: absolute;
  left: 725px;
  top: 450px;
  .column(3);
}

.recherche, .sidebar, .moreInfo, article p:hover, .pageTitle{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.recherche{
  background-color: @lightBrown;
  width: 100%;
  display: inline-block;
}

.recherche, .sidebar{
  -moz-box-shadow: @mozShadow;
  -webkit-box-shadow: @webShadow;
  -o-box-shadow: @oBoxShadow;
  box-shadow: @boxShadow;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#dde2d3, Direction=180, Strength=5);
}

.sidebar{
  margin-top: 1em;
  background-color: @beige;
}

.recherche span{
  margin-left: 1em;
  color: @deepBrown;
}

.recherche input{
  width: 150px;
  display: inline;
  margin: 1em 0;
}

aside input{
  display: block;
  width: 175px;
  margin: 1em 0;
}

aside header{
  margin-bottom: 0.5em;
}
.sidebarBlock{
  padding: 1em 0;
  margin: 1em 1em;
  border-bottom: 1px solid #DFDFDF;
}

.sidebarBlock:last-child{
  border-bottom: none;
}

.sidebarBlock a{
  color: @deepBrown;
  font-size: 14px;
  display: block;
}

.sidebarBlock p{
  text-align: center;
}

/*Footer */
footer{
  clear: both;
  margin-bottom: 1em;
}

footer nav{
  font-size: 12px;
}

footer nav li{
  height: 1em;
}

footer nav a{
  padding: 1.5em 0.4em 0.75em 0.36em;
}

footer nav a:first-child{
  border-left: 1px solid @deepGreen;
}

              /* Page rubrique  */
#rubrique .slider, #categorie .slider, #conditions .slider{
  height: 120px;
}

#rubrique aside, #categorie aside, #conditions aside{
  top: 175px;
}

#rubrique .nouveaute{
  margin-top: 3em;
}

.pageTitle{
  width: 250px;
  position: absolute;
  top: 75px;
  left: 125px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.6);
}

.sidebar ul{
  padding: 0.5em 1em;
}

.sectionCategory{
  padding: 0.5em 0;
}

.sectionCategory a{
  color: @deepBrown;
}

.sectionCategory a:hover{
  font-family: @QuicksandBold;
}

#rubrique .sectionCategory ul{
  padding: 0.25em 1em;
}

.sectionCategory li{
  line-height: 1.25em;
}

.titleCategorie{
  font-weight: bold;
}

        /* Catégory */
.tri{
  .column(6);
}

.tri p{
  .column(4);
}

.tri a{
  margin-left: 0.55em;
  padding: 0.5em;
  color: @deepGreen;
}

.filtre{
  height: 50px;
  margin: 1em 0;
}

.page{
  .column(6);
}

.page li{
  float: left;
  margin: 0 0.25em;
}

.page a{
  color:@deepGreen;
}

.page a:hover, .page a:active, .tri a:hover{
  color: @deepBrown;
}

section footer{
  clear: none;
}

footer .tri{
  margin-bottom: 1em;
}

.listingProduit li{
  margin-bottom: 2em;
}

footer .numberFirst, footer .numberLast{
  margin-top: 0.5em;
}

      /* Produit  */
.produit{
  margin-top: 1em;
}



.produitDescription{
  margin-top: 1em;
}

.imgProduit{
  .column(6);
  margin-bottom: 2em;
}

.produitDescription{
  .column(6);
  margin-bottom: 2em;
}

.produitDescription .description{
  height: 100%;
  color: @deepBrown;
  line-height: 1.25em;
}

.produitDescription .prix{
  font-family: @QuicksandBold;
}

.produitDescription select, .produitDescription .prix, .produitDescription .panier{
  .column(3.5);
  margin-top: 1em;
}

.produitDescription select{
  margin-top: 2em;
}

.produitDescription .panier{
  margin-top: 0.5em;
  margin-left: 1em;
}

.similaire .plus{
  margin-bottom: 2em;
}

.descProduit section{
  margin-bottom: 2em;
}

    /* Espace membre */
.connexion{
  .column(6);
  .push(6);
}

.infoMembre h2{
  height: 100%;
}

.infoMembre p{
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

.infoMembre li{
  color: @deepGreen;
  margin-bottom: 0.5em;
}

.infoMembre strong{
  font-family: @QuicksandBold;
}

.infoMembre section{
  margin-top: 0;
  .column(12);
}

    /* Conditions */
.condition h1{
  margin-top: 1em;
}

.condition h2, .condition article{
  height: 100%;
}

.condition p{
  padding: 0;
  margin-bottom: 0.5em;
}

    /* Panier */
.etape, .etapeActive{
  .column(4);
  margin-bottom: 1em;
  height: 50px;
  background-repeat: no-repeat;
}

.etape{
  background-image: url('../img/design/fondPanier.png');
}

.etapeActive{
  background-image: url('../img/design/fondPanierActive.png');
}

.etape p, .etapeActive p{
  margin: 0.5em 0 0 3em;
}

.etapeActive p{
  color: white;
}

.etape p{
  color: @deepBrown;
}

table{
  border: 1px solid @deepGreen;
  .column(12);
}

tr{
  .column(12);
}

thead tr{
  font-family: @QuicksandBold;
  margin-top: 1em;
  margin-bottom: 1em;
}

tbody tr:first-child{
  margin-top: 1em;
}

tbody tr:last-child{
  margin-bottom: 1em;
}

thead, tfoot{
  background-color: @deepGreen;
}

tbody p{
  color: @deepBrown;
}

tfoot p, thead h3{
  color: white;
}

.finalPrix{
  font-family: @QuicksandBold;
}

td{
  .column(5);
}

td:last-child{
  .column(2);
}

.achat footer, .livraison footer, .confirmation footer{
  .column(12);
  margin-top: 1em;
  margin-bottom: 1em;
}

.achat input, .achat footer a, .livraison footer input, .confirmation footer input{
  .column(6);
}

.achat input, .confirmation input, .livraison input{
  font-size: 1em;
}

.espaceMembre a:hover, .espaceMembre a, .espaceMembre a:active, .espaceMembre a:focus{
  padding-right: 1em;
}

.livraison h2{
  clear: both;
}

.adresse{
  margin-bottom: 1em;
}

.adresse input{
  .column(2);
  .push(2);
}

.livraison{
  height: 100%;
}

.livraison form input{
  width: 250px;
}

.livraison #num{
  width: 50px;
}

.livraison label{
  display: inline-block;
  width: 75px;
  margin-bottom: 0.5em;
}

.adresse input+p{
  clear: both;
}

.confirmation table{
  width: 500px;
}

.infoComplementaire{
    display: inline-block;
}

.infoComplementaire a{
  color: @deepBrown;
}

.infoComplementaire a:hover{
  text-decoration: underline;
}


/*************** MEDIA 481px **************/

@media only screen and (max-width: 481px){

/* Général */
  .content{
    width: 100%;
    margin: 0;
  }

  section{
    .column(12);
  }

  .breadcrumbs{
    margin-top: 1em;
  }

  .panierAchat{
    display: block;
    float: left;
    width: 50%;
  }

  .lastItem, .espaceMembre{
    display: block;
    width: 50%;
  }

  .panierAchat a, .lastItem a, .espaceMembre a{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0.75em 0;
  }

  .panierAchat a{
    border: none;
  }

  nav{
    clear:both;
  }

  section hr::after, hr::after{
    content: initial;
  }

  .nouveaute li, .coeur li, .promos li, .listingProduit li, .similaire li{
    .column(8);
    .push(2);
    margin-bottom: 0.5em;
  }

  .nouveaute li>a, .coeur li>a, .promos li>a, .listingProduit li>a, .similaire li>a{
    display: block;
    text-align: center;
    height: 135px;
  }

  article h2, .description{
    height: 100%;
  }

  .panier{
    margin: 0.25em 0 1em 0;
  }

  .prix{
    margin: 0.5em 0 1em 0;
  }

  .tri{
    .column(12);
    font-size: 2em;
  }

  .tri p{
    .column(4);
  }
  .number{
    .column(8);
  }

  .tri p{
    margin-top: 0.25em;
    font-size: 0.5em,
  }

  .page{
    margin: 0.5em 0;
  }

  .number li, .page li{
    background-image: linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -o-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,252,207)), color-stop(0.78, rgb(224,224,172)));

    filter:progid:DXImageTransform.Microsoft.Shadow(color=#dde2d3, Direction=180, Strength=5);
  }

  .page li{
    .column(2.25);
    font-size: 0.75em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }

  .tri .activePage{
    color: @deepBrown;
  }

  .number a{
    color: @deepBrown;
    margin:0;
    padding: 0.25em 0;
    display: block;
    text-align: center;
    font-size: 0.5em;
  }

  footer .number li{
    display: block;
  }

  .plus{
    margin-bottom: 1em;
  }

/*  Accueil */
  #accueil .content, .logo img, footer li, #accueil footer, aside, .slider , nav li{
    display: none;
  }

  .logo a{
    background-image: url('../img/design/logoXSmall.png');
    background-repeat: no-repeat;
    display: block;
    height: 100px;
    .column(4);
    .push(2);
  }

  #acceuil header nav{
    clear: both;
    background-image: none;
  }

  #accueil nav>ul li,  #conditions footer li{
    float: none;
    height: 100%;
    background-image: linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -o-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,252,207)), color-stop(0.78, rgb(224,224,172)));
    width: 100%;
    display: block;
  }

  #accueil nav a:hover, #accueil nav li ul, #accueil .submenu li{
    background-image: none;
  }

  #accueil .connexionBoutton a:hover, #accueil .connexionBoutton a, #accueil .connexionBoutton a:active, #accueil .connexionBoutton a:focus{
    padding-right: 0.6em;
    text-align: initial;
  }

  #accueil nav li:hover .submenu{
    display: block;
    position: initial;
  }

  #accueil nav li:hover{
    height: 100%;
  }

  #accueil nav li ul{
    padding: 0 0 0 2em;
  }

  #accueil nav li:hover li{
    margin: 0;
  }

  #accueil nav>ul a, #accueil nav>ul p{
    font-family: @QuicksandBold;
    font-size: 1.5em;
    padding: .5em 0em 0.25em .5em
  }

  #accueil .submenu li a{
    font-family: @QuicksandBook;
    font-size: 1em;
  }

  #accueil .submenu{
    display: block;
    margin-bottom: 0.5em;
  }

  #accueil .inscription{
    display: block;
  }

  #accueil .loginBox{
    margin-bottom: 0;
    margin: 0;
  }

  #accueil .loginBox label{
    margin: 0;
    padding: 0.5em 0;
  }

  #accueil .loginBox input{
    .column(12);
    margin-bottom: 1em;
    height: 25px;
  }

  #accueil .loginBox input[type="checkbox"]{
    margin-top: -0.5em;
  }

  #accueil .panierAchat a, #accueil .lastItem a, #accueil .espaceMembre a{
    text-align: initial;
  }

.plus{
  .column(7);
  .push(5);
}

/* Condition */
  .condition article{
    .column(12);
  }

  #conditions footer li{
    display: block;
  }

  #conditions footer a{
    padding: 1em 0;
  }

/* Membre */
  .connexion{
    .column(10);
    .push(2);
  }

/* Panier */
  .etape{
    background-image:none;
  }

  .etapeActive{
    background-image: none;
  }

  .etape p, .etapeActive p{
    margin: .2em 0 0 1.25em;
  }

  .etape p{
    color: @deepGreen;
  }

  .etapeActive p{
    color: @deepBrown;
  }

  .achat select{
    width: 100px;
  }

  .livraison label, .livraison input{
    .column(12);
  }

  .livraison label{
    margin-top: 0.5em;
  }

  .livraison h1, .confirmation h1, .achat h1{
    margin-top: 0.5em;
  }

  .achat input, .confirmation input, .livraison input{
    font-size: 1em;
  }

  .livraison footer input, .confirmation footer input{
    .column(12);
    margin: 0.5em 0;
    height: 25px;
  }

  .confirmation table{
    .column(12);
  }

  .adresse input{
    .column(2);
    .push(6);
  }

  /* Produit */
.imgProduit{
  .column(12);
}

.imgProduit img{
  margin-left: 2em;
}

.produit .produitDescription{
  .column(12);
  margin-bottom: 2em;
}

.produitDescription h1{
  margin-top: 1em;
}

/* Footer */
  .apropos{
    .column(12);
    font-size: 1.25em;
  }

  footer{
    margin-bottom: 0;
  }

  footer nav a{
    padding:1em 0 0 0;
    text-align: center;
    font-family: @QuicksandBold;
  }

  footer nav a:hover{
    background-image: none;
  }

  footer nav a:first-child{
    border: none;
  }
}

/*************** MEDIA 482px - 768px **************/
@media only screen and (min-width: 483px) and (max-width: 768px){

  /* Général */
  .content{
    width: 100%;
    margin: 0;
  }

  section{
    .column(12);
  }

  .breadcrumbs{
    margin-top: 1em;
  }

  .panierAchat{
    display: block;
   float: left;
    width: 50%;
  }

  .lastItem, .espaceMembre{
    display: block;
    width: 50%;
  }

  .panierAchat a, .lastItem a, .espaceMembre a{
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0.75em 0;
  }

  .panierAchat a{
    border: none;
  }

  nav{
    clear:both;
  }

  section hr::after, hr::after{
    content: initial;
  }

  /*  Accueil */
  #accueil .content, .logo img, footer li, #accueil footer, aside, .slider , nav li{
   display: none;
  }

  .logo a{
    background-image: url('../img/design/logoSmall.png');
    background-repeat: no-repeat;
    display: block;
    height: 150px;
    .column(7);
    .push(2.5);
  }

  #acceuil header nav{
    clear: both;
    background-image: none;
  }

  #accueil nav>ul li, #conditions footer li{
    float: none;
    height: 100%;
    background-image: linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -o-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -moz-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -ms-linear-gradient(bottom, rgb(255,252,207) 0%, rgb(224,224,172) 78%);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(255,252,207)),
      color-stop(0.78, rgb(224,224,172))
    );
  width: 100%;
    display: block;
  }

  #accueil nav a:hover, #accueil nav li ul, #accueil .submenu li{
    background-image: none;
  }

  #accueil .connexionBoutton a:hover, #accueil .connexionBoutton a, #accueil .connexionBoutton a:active, #accueil .connexionBoutton a:focus, .lastItem a{
    padding-right: 0.6em;
    text-align: initial;
  }

  #accueil nav li:hover .submenu{
    display: block;
    position: initial;
  }

  #accueil nav li:hover{
    height: 100%;
  }

  #accueil nav li ul{
    padding: 0 0 0 2em;
  }

  #accueil nav li:hover li{
    margin: 0;
  }

  #accueil nav>ul a, #accueil nav>ul p{
    font-family: @QuicksandBold;
    font-size: 1.5em;
    padding: .5em 0em 0.25em .5em
  }

  #accueil .submenu li a{
    font-family: @QuicksandBook;
    font-size: 1em;
  }

  #accueil .submenu{
    display: block;
    margin-bottom: 0.5em;
  }

  #accueil .inscription{
    display: block;
  }

  #accueil .loginBox{
    margin-bottom: 0;
    margin: 0;
  }

  #accueil .loginBox label{
    margin: 0;
    padding: 0.5em 0;
  }

  #accueil .loginBox input{
    .column(12);
    margin-bottom: 1em;
    height: 25px;
  }

  #accueil .loginBox input[type="checkbox"]{
    margin-top: -0.5em;
  }

  .panier, .prix{
    font-size: 0.75em;
  }

  .plus{
    .column(6);
    .push(6);
    margin-top: 1em;
  }

  /* Condition */
    .condition article{
      .column(12);
    }


  #conditions footer li{
    display: block;
  }

  #conditions footer a{
    padding: 1em 0;
  }

    /* Membre */
  .connexion{
    .column(7);
    .push(5.5);
  }

  /* Panier */
  .etape{
    background-image: url('../img/design/fondPanierSmall.png');
  }

  .etapeActive{
    background-image: url('../img/design/fondPanierActiveSmall.png');
  }

  .etape p, .etapeActive p{
    margin: .2em 0 0 1.25em;
  }

  .achat input, .confirmation input, .livraison input{
    font-size: 1em;
  }

  td select{
    width: 100px;
  }

  .livraison label{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  .confirmation table{
    width: 435px;
  }

  /* Footer */
  .apropos{
    .column(12);
    font-size: 1.25em;
  }

  footer{
    margin-bottom: 0;
  }

  footer nav a{
    padding:1em 0 0 0;
    text-align: center;
    font-family: @QuicksandBold;
  }

  footer nav a:hover{
    background-image: none;
  }

  footer nav a:first-child{
    border: none;
  }

}

/*************** MEDIA 945px - 770px **************/

@media only screen and (max-width: 945px) and (min-width: 770px) {
  /* Général */

  nav > ul a{
    padding: .55em 0.6em .6em 0.6em;
    font-size: 0.85em;
  }

  #rubrique nav > ul a, #categorie nav > ul a{
    padding: .55em 0.35em .6em 0.35em;
  }

  #conditions nav > ul a,
  .userLogin nav > ul a{
    padding: .55em 0.3em .6em 0.3em;
  }

  nav{
    height: 30px;
  }

  nav li:hover{
    height: 100%;
  }

  #accueil .lastItem a{
    padding-right:0.3em;
  }

  .makeup .lastItem a:hover, .makeup .lastItem a:active, .makeup .lastItem a:focus, .makeup .lastItem a,
  .finalisation .espaceMembre a:hover, .finalisation .espaceMembre a:active, .finalisation .espaceMembre a:focus, .finalisation .espaceMembre a,
  #categorie .lastItem a:hover, #categorie .lastItem a:active, #categorie .lastItem a:focus, #categorie .lastItem a{
    padding: 0.55em 0.1em;
  }

  form a:hover{
    background-image: none;
  }

  footer{
    margin-bottom: 0;
  }

  #categorie footer nav a,  #rubrique footer nav a, #accueil footer nav a,  #conditions footer nav a{
    padding:1em 0;
    font-size: 0.75em;
  }

  .content{
    width: 100%;
    margin: 0;
  }

  section{
    .column(9);
    .push(0);
  }

  aside{
    .column(3);
    position: initial;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  article{
    height: 100%;
  }

  .breadcrumbs{
    margin-top: 1em;
  }

  li.connexionBoutton a:hover, li.connexionBoutton a, li.connexionBoutton a:active, li.connexionBoutton a:focus{
    padding-right: 0;
    display: block;
    width: 100%;
    text-align:center;
  }

  .pageTitle{
    left: 175px;
    width: 200px;
  }

  /* Accueil */

  .nouveaute li > a, .coeur li > a, .promos li > a{
    height: 135px;
  }

  .description{
    height: 35px;
  }

  .nouveaute h1 a, .coeur h1 a, .promos h1 a, h1, .similaire h1 a{
    margin-top: 1em;
  }

  .slider img, .slider .moreInfo{
    display: none;
  }

  .slider{
    height: 150px;
    background-image: url('../img/design/sliderMedium.png');
    background-repeat: no-repeat;
    .column(8);
    .push(2);
    margin-top: 1em;
  }

  .annonces{
    text-align: center;
  }

  hr::after{
    content: url('../img/design/bandeauMedium.png');
  }

  .recherche input{
    width: 118px;
  }

  aside input{
    width: 147px;
  }

  .sidebarBlock{
    margin: 0 0.5em;
  }

  .loginBox{
    float: right;
    right: 0;
  }

  /*  Bons plans */
  .lastItem a:hover, .lastItem a, .lastItem a:active, .lastItem a:focus{
    padding-right: 0;
    font-size: 0.85em;
    padding-left: 0;
  }

  /* Condition */
  .condition{
    margin-bottom: 1em;
  }

  .condition article, .livraison{
    margin-left: 1em;
  }

  /* Connexion */
  .connexion{
    .column(7);
    .push(5);
  }

  /* Panier */
  #categorie .espaceMembre a{
    padding: 0.55em 0;
  }
}